<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- main css -->
    <link rel="stylesheet" href="./css/homecss.css" />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@400;600&display=swap"
          rel="stylesheet" />
    <link rel="shortcut icon" href="./img/VTP2 1.svg" />  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>EGO Clinic</title>
</head>
<body>
    <!-- header -->
    <header>
        <div class="container">
            <nav class="navbar">
                <!-- logo -->
                <ul class="navbar__links">
                    <div class="navbar__logo">
                        <img src="./img/VTP2 1.svg" alt="website logo" />
                    </div>
                </ul>

                <!-- links -->
                <ul class="navbar__links">
                    <li class="navbar__link"><a href="#" class="">Home</a></li>
                    <li class="navbar__link"><a href="#">About</a></li>
                    <li class="navbar__link"><a href="#">Make Appointment</a></li>
                </ul>

                <ul class="navbar__links">
                    <li class="navbar__link"><a href="#" id="signIn">Sign in</a></li>
                    <a href="#"><button class="navbar__btn" id="Register">Register</button></a>
                </ul>
            </nav>
        </div>
    </header>
    <!-- body-form -->
    <div class="form-left">
        <h1>Sign up to track your health</h1>
        <p>
            if you have ready an account you can
            <a href="#" class="Login-text" target="_blank">Login </a>here
        </p>
        <div class="text-span"></div>
    </div>

    <div class="form-center">
        <img src="./img/3636112-removebg-preview 1.png"
             alt=""
             class="img-form-center" />
    </div>
    <!-- form-right -->
    
    <div class="container" id="container">
        <form class="form-right-login" id="loginForm">
          <h2>Welcome User</h2>
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <a href="#">Forgot your password?</a>
          <button class="confrim">Sign In</button>
        </form> 
        <form class="form-right-register" id="registerForm">
            <h2>Register for more</h2>
            <input type="text" placeholder="Username" />
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <input type="password" placeholder="Confirm Password" />
            <a href="#">Forgot your password?</a>
            <button class="confrim">Register  </button>
        </form>
    </div>
    <script src="https://kit.fontawesome.com/d9a92be812.js"
            crossorigin="anonymous"></script>
    <script src="./js/home.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @RenderBody()
</body>
</html>
