@{
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}
<div class="container d-flex">
    <div class="col-md-2" style="margin-right:5px;">
        <table class="table table-bordered border-secondary" style="max-height:300px;">
            <thead>
                <tr>
                    <th class="table-danger">
                        <h5 style="color:#525252;">Search</h5>
                    </th>

                </tr>
                <tr>
                    <th>
                        <form action="">
                            <input class="form-control" type="text" placeholder="Find Patient"
                                   style="text-align:center;">
                        </form>
                    </th>

                </tr>
            </thead>
            <!-- chỗ này cần sroll box -->
            <tbody style="text-align:center;" id="patientBody">
            </tbody>

        </table>
    </div>
    <div class="col-md-10">
        <table class="table table-bordered border-secondary">
            <thead>
                <tr class="table-danger">
                    <th>
                        <h5 style="color:#525252">Patient Infomation</h5>
                    </th>
                </tr>
            </thead>
            <form asp-action="CreateQueueRequest" asp-controller="ReceivePatient" id="requestQueue">
            <tbody>
                <tr>
                    <td class="d-flex justify-content-between">
                        Full Name: <input name="FullName" id="Account_FullName" type="text" class="form-control"
                                          style="width:500px;" readonly />
                        DoB: <input name="Birthday" id="Account_Birthday" type="text" class="form-control"
                                    style="width:200px;" readonly />
                        Gender: <input type="text" name="Gender" id="Account_Gender" class="form-control" style="width:80px" readonly />
                    </td>


                    <td class="d-flex justify-content-between">
                        Address: <input name="Address" id="Account_Address" type="text" class="form-control"
                                        style="width:300px;" readonly />
                        City: <input type="text" class="form-control"
                                     style="width:200px;" readonly />
                        Phone Number: <input name="PhoneNumber" id="Account_PhoneNumber" type="text" class="form-control"
                                             style="width:200px;" readonly />

                    </td>


                    <td class="d-flex justify-content-between">
                        Pulse: <input type="number" name="Pulse" id="Pulse" placeholder="bpm" class="form-control" style="width:80px;">
                        Blood Pressure: <input type="number" name="BloodPressure" id="BloodPressure" placeholder="mmHg" class="form-control"
                                               style="width:100px;">
                        Temperature: <input type="number" name="Temperature" id="Temperature" placeholder="°C" class="form-control" style="width:80px;">
                        Weight: <input type="number" name="Weight" id="Weight" placeholder="Kg" class="form-control" style="width:80px;">
                        Height: <input type="number" name="Height" id="Height" placeholder="Cm" class="form-control" style="width:80px;">
                    </td>

                </tr>
            </tbody>
            <input type="submit" value="Send" class="btn btn-primary">
            </form>

        </table>
        <div class="container d-flex">
            <div class="col-md-8">
                <table class="table table-bordered border-secondary">
                    <thead>
                        <tr>
                            <th class="table-danger">
                                <div class="d-flex justify-content-between">
                                    <p>Appointment Schedule of Doctor</p>
                                    <div class="d-flex">
                                        <p>Doctor:</p>
                                        <select name="doctor" id="" class="form-control">
                                            <option value="1">Phong</option>
                                            <option value="2">Hung</option>
                                        </select>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody style="height:500px;">
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div>
                    <table class="table table-bordered border-secondary" style="margin-left:5px;">
                        <thead>
                            <tr>
                                <th class="table-danger">
                                    <div class="d-flex justify-content-between">
                                        <p>Print queue ticket</p>
                                        <a href="" style="text-decoration:none; color:black;">
                                            <i class="fa-solid fa-print"></i>
                                        </a>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody style="height:350px;">
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="text-align:center;">
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        LoadPatient();
        var patientList = [];
        var connection = new signalR.HubConnectionBuilder().withUrl("/SignalRServer").build();
        connection.start();
        connection.on("LoadPatients", function () {
            LoadPatient();
        });
        function LoadPatient() {
            var tr = ``;
            $.ajax({
                url: "@Url.Action("GetAllPatient")",
                type: 'GET',
                dataType: 'json', // added data type
                success: (result) => {
                    patientList = result
                    $.each(result, (k, v) => {
                        tr +=
                            `<tr>
                                                                                <td>
                                                                                     <span onclick="handlePatient(this)"  data-patient="https://localhost:5001/api/Patient/${v.PatientId}" name="patient" id="patient"> ${v.Account.FullName} </span>
                                                                                </td>
                                                                            </tr>`
                    })
                    $("#patientBody").html(tr);
                },
                error: (error) => {
                    console.log(error)
                }
            });
            handlePatient();
        };
        function fillData(id) {
            let data = patientList.filter(x => x.PatientId == id)
            console.log(data)

        };

        function handlePatient(element) {
            const fullname = document.querySelector("#Account_FullName");
            const birthday = document.querySelector("#Account_Birthday");
            const gender = document.querySelector("#Account_Gender");
            const address = document.querySelector("#Account_Address");
            const url = element?.dataset.patient;
            $.ajax({
                url,
                type: 'GET',
                dataType: 'json', // added data type
                success: (result) => {
                    console.log(result);
                    fullname.value = result.Account.FullName;
                    birthday.value = result.Account.Birhtday;
                    gender.value = result.Account.Gender;
                    address.value = result.Account.Address;
                },
                error: (error) => {
                    console.log(error)
                }
            });
        };

        
    </script>
}
