@{
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}
<div class="container d-flex">
    <div class="col-md-2" style="margin-right:5px;">
        <table class="table table-bordered border-secondary" style="max-height:300px;">
            <thead>
                <tr>
                    <th class="table-danger">
                        <h5 style="color:#525252;">Queue</h5>
                    </th>

                </tr>
                <tr>
                    <th>
                        <form action="">
                            <input class="form-control" type="text" placeholder="Find Patient"
                                   style="text-align:center;">
                        </form>
                    </th>

                </tr>
            </thead>
            <!-- chỗ này cần sroll box -->
            <tbody style="text-align:center;" id="patientBody">
            </tbody>

        </table>
        <table class="table table-bordered border-secondary">
            <thead class="table-danger">
                <tr>
                    <th>
                        <h5 style="color:#525252">Previous prescription</h5>
                    </th>
                </tr>
            </thead>
            <!-- chỗ này cần sroll box -->
            <tbody style="height:200px;">
                <tr>
                    <td><a href="" style="text-decoration:none;">List các toa thuốc cũ của bệnh nhân</a></td>
                </tr>

            </tbody>
        </table>
        <div style="align-items:center; flex-direction: column; justify-content: space-around; display: flex;">
            <button class="btn btn-success" style="margin-bottom:20px;">Save and Print</button>
            <button class="btn btn-warning" style="color:#fff;">Create a new Presciption</button>
        </div>
    </div>
    <div class="col-md-10">
        <form action="">
            <table class="table table-bordered border-secondary">
                <thead>
                    <tr class="table-danger">
                        <th>
                            <h5 style="color:#525252">Patient Infomation</h5>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="d-flex justify-content-between">
                            Full Name: <input name="FullName" id="Account_FullName" type="text" class="form-control"
                                              style="width:500px;" readonly />
                            DoB: <input name="Birthday" id="Account_Birthday" type="text" class="form-control"
                                        style="width:200px;" readonly />
                            Gender: <input type="text" name="Gender" id="Account_Gender" class="form-control" style="width:80px" readonly />
                        </td>
                        <td class="d-flex justify-content-between">
                            Address: <input name="Address" id="Account_Address" type="text" class="form-control"
                                            style="width:300px;" readonly />
                            City: <input type="text" class="form-control"
                                         style="width:200px;" readonly />
                            Phone Number: <input name="PhoneNumber" id="Account_PhoneNumber" type="text" class="form-control"
                                                 style="width:200px;" readonly />

                        </td>
                        <td class="d-flex justify-content-between">
                            Pulse: <input type="number" name="Pulse" id="Pulse" placeholder="bpm" class="form-control" style="width:80px;" readonly>
                            Blood Pressure: <input type="number" name="BloodPressure" id="BloodPressure" placeholder="mmHg" class="form-control"
                                                   style="width:100px;" readonly>
                            Temperature: <input type="number" name="Temperature" id="Temperature" placeholder="°C" class="form-control" style="width:80px;" readonly>
                            Weight: <input type="number" name="Weight" id="Weight" placeholder="Kg" class="form-control" style="width:80px;" readonly>
                            Height: <input type="number" name="Height" id="Height" placeholder="Cm" class="form-control" style="width:80px;" readonly>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered border-secondary">
                <thead>
                    <tr>
                        <th colspan="4" class="table-danger">
                            <div class="d-flex justify-content-between">
                                <p style="color:#525252;">Medicine List And Using</p>
                                <button class="btn btn-success">Clear Presciption</button>
                                <p style="color:#525252;">Using Day:</p><input type="number" placeholder="Day"
                                                                               class="form-control" style="width:80px;">
                                <p style="color:#525252;">Re-examination:</p> <input type="checkbox"
                                                                                     class="form-check-input">
                                <p style="color:#525252;">Re-examination day:</p><input type="date">
                            </div>

                        </th>
                    </tr>
                    <tr>
                        <th>Medicine Name</th>
                        <th>Using/day</th>
                        <th>Using/times</th>
                        <th>Method</th>
                    </tr>
                </thead>
                <tbody style="height: 170px;">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" style="text-align:right;">Total:</td>
                    </tr>             
                </tfoot>
            </table>
            <table class="table table-bordered border-secondary">
                <thead>
                    <tr>
                        <th colspan="4">
                            <div class="d-flex justify-content-between">
                                <form action="">
                                    <input type="text" placeholder="Find Medicine" class="form-control"
                                           style="width:85%;height:40px;">
                                    <button class="btn btn-warning" style="height:40px; color:#fff;"
                                            data-bind="click : addMedicine">
                                        Add Medicine
                                    </button>
                                </form>
                            </div>

                        </th>
                    </tr>
                    <tr>
                        <th>Amount</th>
                        <th>Medicine Name</th>
                        <th>Type</th>
                        <th>Method</th>
                    </tr>
                </thead>
                <tbody style="height:200px;">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<!-- SignalR -->
<script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
@section Scripts{
    <script>
        LoadPatient();
        var patientList = [];
        var connection = new signalR.HubConnectionBuilder().withUrl("/SignalRServer").build();
        connection.start();
        connection.on("LoadPatients", function () {
            LoadPatient();
        });


        function LoadPatient() {
            var tr = ``;
            $.ajax({
                url: "https://localhost:5008/api/Queue?docID=1",
                type: 'GET',
                dataType: 'json', // added data type
                success: (result) => {
                    patientList = result
                    $.each(result, (k, v) => {
                        tr +=
                            `<tr>
                                <td>
                                    <button value="${k}" name="patient" style="background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;"> ${v.patientFullName} </button>
                                </td>
                            </tr>`
                    })
                    $("#patientBody").html(tr);
                    assignClickEvent();
                },
                error: (error) => {
                    console.log(error)
                }
            });
        };

        function assignClickEvent(){
            $("button[name='patient']").click((e) => {
                let index =  e.currentTarget.value;
                //console.log(index);
                let item = patientList[index];
                //console.log(item);
                const patientFullName = document.querySelector("#Account_FullName");
                const patientBirthDay = document.querySelector("#Account_Birthday");
                const patientGender = document.querySelector("#Account_Gender");
                const address = document.querySelector("#Account_Address");
                const phoneNumber = document.querySelector("#Account_PhoneNumber");
                const pulse = document.querySelector("#Pulse");
                const bloodPressure = document.querySelector("#BloodPressure");
                const temperature = document.querySelector("#Temperature");
                const weight = document.querySelector("#Weight");
                const height = document.querySelector("#Height");
                patientFullName.value = item.patientFullName;
                patientBirthDay.value = item.patientBirthDay;
                patientGender.value = item.patientGender;
                address.value = item.address;
                phoneNumber.value = item.phoneNumber;
                pulse.value = item.pusle;
                bloodPressure.value = item.bloodPressure;
                temperature.value = item.temperature;
                weight.value = item.weight;
                height.value = item.height;
            })
        }


      

    </script>
}