:root {
    ---redBlood: #CF0A0A;
    ---grey: #EEEEEE;
    --smooth: all .3s ease-in
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}

.sidebar {
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(---grey);
    z-index: 100;
    transition: var(--smooth);
}

.sidebar-brand {
    height: 150px;
    padding: 1rem 0rem 3rem 0rem;
    margin-left: 10px;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.5rem;
}

    .sidebar-menu li :hover {
        transform: translateX(5px);
        font-weight: 600;
        color: var(---redBlood);
    }

.sidebar-menu a {
    padding-left: 1rem;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.link-active:focus {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(---redBlood);
    border-radius: 30px 0px 0px 30px;
}
.link-active:hover {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(---redBlood);
    border-radius: 30px 0px 0px 30px;
    transition: var(--smooth);
}

#main-nav li.active a {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(---redBlood);
    border-radius: 30px 0px 0px 30px;
}


.sidebar-menu a i {
    font-style: 1.5rem;
    padding-right: 1rem;
}

.main-content {
    margin-left: 250px;
    transition: var(--redBlood);
}

header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 250px;
    width: calc(100% - 250px);
    top: 0;
    z-index: 100;
    transition: var(--smooth);
}

#nav-toggle {
    display: none;
}

    #nav-toggle:checked + .sidebar {
        width: 70px;
    }

        #nav-toggle:checked + .sidebar .sidebar-brand,
        #nav-toggle:checked + .sidebar li a {
            padding-left: 1rem;
            text-align: center;
        }

        #nav-toggle:checked + .sidebar li a {
            padding-left: 0rem;
        }

            #nav-toggle:checked + .sidebar li a span {
                display: none;
            }

    #nav-toggle:checked ~ .main-content {
        margin-left: 70px;
    }

        #nav-toggle:checked ~ .main-content header {
            width: calc(100% - 70px);
            left: 70px;
        }

header h2 {
    color: #222;
}

header label span {
    font-style: 1.7rem;
    padding-right: 1rem;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

    .user-wrapper img {
        border-radius: 50%;
        margin-right: 1rem;
    }

    .user-wrapper small {
        display: inline-block;
        color: gray;
    }

main {
    margin-top: 90px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
}

.sub-menu-wrap {
    position: absolute;
    margin-right: 2px;
    top: 100%;
    width: 230px;
    max-height: 0px;
    overflow: hidden;
    transition: var(--smooth);
}

    .sub-menu-wrap.open-menu {
        max-height: 400px;
    }

.sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

    .user-info img {
        border-radius: 50%;
        margin-right: 15px;
    }

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 5px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
}

    .sub-menu-link p {
        margin-top: 0px;
        margin-bottom: 0rem;
        width: 100%;
    }

    .sub-menu-link i {
        background: #e5e5e5;
        border-radius: 50%;
        padding: 8px;
        margin-right: 15px;
    }

    .sub-menu-link span {
        font-style: 22px;
        transition: var(--smooth);
    }

    .sub-menu-link:hover span {
        transform: translateX(5px);
    }

    .sub-menu-link:hover {
        font-weight: 600;
        color: var(---redBlood)
    }

input, select{
    background-color: #fff !important;
}
examp