*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Exo",Arial, Helvetica;
}

img {
    max-width: 100%;
    width: 100%;
}

button {
    text-align: center;
    color: #fff;
    background-color: rgb(196, 31, 31);
    padding: .8rem 2.5rem;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: var(--smooth);
}

    button:hover {
        background-color: var(--redBlood);
        transition: var(--smooth);
    }

:root {
    --redBlood: #840E07;
    --gray: gray;
    --smooth: all .3s ease-in;
}
/* header */

.navbar {
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
/* logo */
.navbar__logo img {
    width: 358px;
    height: 136px;
    object-fit: cover;
}
/* menu */
.navbar__links {
    padding-left: 0;
    margin: auto 16px;
    color: #000;
}

.navbar__link {
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}

    .navbar__link a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        transition: var(--smooth);
        font-size: 20px;
    }

        .navbar__link a:focus {
            color: var(--redBlood);
            border-bottom: 2px solid black;
            transition: var(--smooth);
        }

        .navbar__link a:hover {
            color: var(--redBlood);
            transition: var(--smooth);
            border-bottom: 2px solid black;
        }

.navbar__btn {
    font-size: 1rem;
    background-color: rgb(196, 31, 31);
    margin-left: 45px;
}

.form-left {
    width: 400px;
}

    .form-left h1 {
        margin-top: 12rem;
        position: relative;
        margin-left: 9rem;
        font-size: 35px;
        width: 400px;
    }

    .form-left p {
        margin-left: 9rem;
        margin-top: 1rem;
        font-size: 20px;
    }

.Login-text {
    color: red;
    font-size: 18px;
    text-decoration: none;
}

.text-span {
    position: absolute;
    width: 393.66px;
    height: 253.05px;
    left: 98.34px;
    top: 371.84px;
    color: #000;
    background: rgba(237, 19, 5, 0.7);
    filter: blur(156.534px);
}

.img-form-center {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 532px;
    top: 440px;
    /* box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.form-right-login {
    margin-left: 65%;
    margin-bottom: 350px;
    width: 500px;
    margin-top: -14%;
}

.form-right-register {
    margin-left: 65%;
    margin-bottom: 350px;
    width: 500px;
    margin-top: -20%;
    display: none;
}
.form-right-login {
    margin-left: 65%;
    margin-bottom: 350px;
    width: 500px;
    margin-top: -20%;
}

.form-right-login h2 {
    margin-bottom: 20px;
    font-size: 46px;
    font-weight: 400;
    line-height: 76px;
}

.form-right-register h2 {
    margin-bottom: 20px;
    font-size: 46px;
    font-weight: 400;
    line-height: 76px;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin-bottom: 20px;
    width: 100%;
    height: 59px;
    border-radius: 100px;
    text-align: center;
}

    input::placeholder {
        text-align: center;
    }

.form-right-login button {
    width: 100%;
}

.form-right-register button {
    width: 100%;
}
